<a href="https://colab.research.google.com/github/RisyadFaisalH/AI-using-KNN/blob/main/Main_Project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAIN ASSIGNMENT 3**

In [ ]:
import pandas as pd
import numpy as np
from math import sqrt

**READ DATA**

In [ ]:
data = pd.read_csv("https://bit.ly/data_mobil")
input_data = pd.read_csv("https://bit.ly/data_input")

print("\nDataset\n", data)
print("\nData Input\n", input_data)

Dataset
               Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga
0            Toyota Agya       4           4     9          6   1.00
1          Daihatsu Alya       4           3     9          6   1.10
2          Toyota Avanza       6           5     6          6   2.00
3         Daihatsu Xenia       6           4     6          6   1.75
4                Xpander       7           7     6          7   2.25
5                 Livina       7           7     6          7   2.10
6                Karimun       3           4    10          5   1.20
7          Toyota Innova       8           8     5          7   4.00
8                Alphard       9          10     4          8  10.00
9            Toyota Vios       5           7     9          8   2.50
10            Honda City       5           8     7          8   2.70
11          Toyota Hiace      10           5     8          6   5.00
12       Toyota Fortuner       9           8     5          8   5.00
13           Toyota Foxy       9           9     5          7   5.50
14  Toyota Corolla Altis       5           9     7          9   6.00
15         Suzuki Ertiga       7           7     7          7   2.30
16          Suzuki Carry       7           3     9          5   0.80

Data Input
    Ukuran  Kenyamanan  Irit  Kecepatan  Harga
0       7          10    10          5      7

**DEFINE METHODS**

In [ ]:
def Euclidean(data_test, data_input):
    result = []

    for i in range(len(data_test["Ukuran"])):
        value = 0
        for name in data_test:
            if name == "Nama Mobil":
                continue
            value += (data_test[name][i] - data_input[name][0])**2

        result.append(sqrt(value))

    return result

In [ ]:
def Manhattan(data_test, data_input):
    result = []

    for i in range(len(data_test["Ukuran"])):
        value = 0
        for name in data_test:
            if name == "Nama Mobil":
                continue
            value += abs(data_test[name][i] - data_input[name][0])

        result.append(value)

    return result

In [ ]:
def Minkowski(data_test, data_input, h):
    result = []

    for i in range(len(data_test["Ukuran"])):
        value = 0
        for name in data_test:
            if name == "Nama Mobil":
                continue
            value += abs(data_test[name][i] - data_input[name][0])**h

        result.append(value**(1/h))

    return result

In [ ]:
def Supremum(data_test, data_input):
    result = []

    for i in range(len(data_test["Ukuran"])):
        value = []
        for name in data_test:
            if name == "Nama Mobil":
                continue
            value.append(abs(data_test[name][i] - data_input[name][0]))

        result.append(max(value))

    return result

In [ ]:
def knn(size):
    data2 = data.copy()
    data2["manhattan"] = Manhattan(data, input_data)
    data2["euclidean"] = Euclidean(data, input_data)
    data2["minkowski"] = Minkowski(data, input_data, 1.5)
    data2["supremum"] = Supremum(data, input_data)

    man = data2.sort_values(by=["manhattan"])[:size]
    eu = data2.sort_values(by=['euclidean'])[:size]
    mink = data2.sort_values(by=['minkowski'])[:size]
    sp = data2.sort_values(by=['supremum'])[:size]

    man.to_excel('recommend_manhattan.xls', index=False)
    eu.to_excel('recommend_euclidean.xls', index=False)
    mink.to_excel('recommend_minkowski.xls', index=False)
    sp.to_excel('recommend_supremum.xls', index=False)

    return man, eu, mink, sp

In [ ]:
if __name__ == "__main__":
    man, eu, mink, sp = knn(3)

    print("\n===recommendation===")
    print("\nManhattan\n", man)
    print("\nEuclidean\n", eu)
    print("\nMinkowski\n", mink)
    print("\nSupremum\n", sp)

===recommendation===

Manhattan
               Nama Mobil  Ukuran  Kenyamanan  ...  euclidean  minkowski  supremum
14  Toyota Corolla Altis       5           9  ...   5.567764   6.874537       4.0
13           Toyota Foxy       9           9  ...   6.020797   7.287855       5.0
15         Suzuki Ertiga       7           7  ...   6.640030   8.183430       4.7

[3 rows x 10 columns]

Euclidean
               Nama Mobil  Ukuran  Kenyamanan  ...  euclidean  minkowski  supremum
14  Toyota Corolla Altis       5           9  ...   5.567764   6.874537       4.0
13           Toyota Foxy       9           9  ...   6.020797   7.287855       5.0
7          Toyota Innova       8           8  ...   6.557439   8.095395       5.0

[3 rows x 10 columns]

Minkowski
               Nama Mobil  Ukuran  Kenyamanan  ...  euclidean  minkowski  supremum
14  Toyota Corolla Altis       5           9  ...   5.567764   6.874537       4.0
13           Toyota Foxy       9           9  ...   6.020797   7.287855       5.0
7          Toyota Innova       8           8  ...   6.557439   8.095395       5.0

[3 rows x 10 columns]

Supremum
               Nama Mobil  Ukuran  Kenyamanan  ...  euclidean  minkowski  supremum
14  Toyota Corolla Altis       5           9  ...   5.567764   6.874537       4.0
10            Honda City       5           8  ...   6.670082   8.542087       4.3
9            Toyota Vios       5           7  ...   6.576473   8.266321       4.5

[3 rows x 10 columns]